.site-nav {
    display: block;
    margin-left: auto;
    background: rgb(255, 255, 255);
    padding: 0.5em;
}

.site-nav > ul {
    display: flex;
}

.site-nav ul li {
    color: rgb(0, 102, 0);
    text-decoration: none;
    list-style: none;
    display: block;
    padding: 0.5em 0,5em;
}


.site-header ul li a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.5em 0.5em;
    line-height: 1;
    margin: 0.2em;
    background: rgb(0, 0, 0);
    border-radius: 0.5em;
}

.site-header a:focus,
.site-header a:hover {
    color: purple;
    background: plum;
    text-decoration: underline;
}

.menu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.menu-button {
    display: none;
}

.menu:checked + .site-header {
    display: block;
} 

/* phones */
@media (max-width: 600px) {

    header {
        display: block;
    }

    .site-header {
        padding-left: 2.5em;
    }

    .menu-button {
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
        font-weight: bold;
    }

    .menu-button .close {
        display: none;
        flex-basis: 4%;
    }

    .site-nav {
        display: none;
        margin-left: auto;
    }
    
    .site-nav ul {
        display: block;
    }

    .site-nav ul li {
        padding: 0.3em 0;
    }

    .menu:checked + .site-header nav {
        display: block;
    } 

    .menu:checked + .site-header .close {
        display: none;

    }

    .menu + .site-header {
        display: block;
    }
}