*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

span::after {
    color: green;
    display: none;
}

@media (min-width: 600px) {
    .mq-width span::after {
        content:  'Viewport width is large than 600px';
        display: inline;
    }
}

@media (min-height: 600px) {
    .mq-height span::after {
        content:  'Viewport height is large than 600px';
        display: inline;
    }
}

@media (aspect-ratio: 8/5) {
    .mq-ar span::after {
        content:  'Aspect Ratio is large than 8/5';
        display: inline;
    }
  }