@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css"); 

html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
}

ul {
    display: inline-block;
}

li {
    list-style: none;
    float: left;
    padding: 0.5em;
}

a {
    border: 1px solid gray;
    border-radius: 50%;
    padding: 0.5em;
    background: lightgray;
    color: black;
}

.fab.fa-facebook-square:hover {
    color: blue;
}

.fab.fa-twitter:hover  {
    color: cyan;
}

.fab.fa-google-plus:hover {
    color: red;
}

.fab.fa-linkedin:hover {
    color: cyan;
}

.fab.fa-instagram:hover {
    color: gray;
}
