* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

.container {
    margin: 2rem auto;
    /* background: red; */
    display: flex;
    max-width: 65vw;
    text-align: center;
}

span {
    border: 1px solid black;
    padding: 1.5em 0.2em;
}

.notes {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.week {
    display: flex;
    flex-wrap: wrap;
}

.workweek {
    flex-basis: 100%;
}

.weekend {
    flex-basis: 100%
}

.dayofweek {
    flex: 0 0 20%;
}

.days {
    flex: 0 0 50%;
}
.last {
    flex: 0 0 50%;
}